body {
  background: #333;
  color: #fff; }

.header .navbar {
  border-bottom: 3px solid blue;
  opacity: 0.9; }

.header .home-section {
  background-image: url("../img/home.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  height: 700px; }
  .header .home-section .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 700px;
    background: rgba(0, 0, 0, 0.7); }
  .header .home-section-inner {
    padding-top: 130px; }
    .header .home-section-inner .fas {
      border-radius: 5px;
      background-color: #fff;
      color: blue;
      padding: 5px; }
    .header .home-section-inner .card-form {
      opacity: 0.9; }

.explorer-section .fas, .share-section .fas {
  color: #fff;
  background-color: #333;
  padding: 5px;
  border-radius: 5px; }

.create-section .fas {
  border-radius: 5px;
  background-color: #fff;
  color: blue;
  padding: 5px; }
